* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , Arial;
}

.container {
  width: 100%;
  max-width: 1299px;
  margin: 0 auto;
}

.adContnr {
  display: flex;
  justify-content: space-between;
}

/* Sidebar section */
.adContnr .sidebar {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: clamp(200px, 15%, 320px);
  min-width: 245px;
  padding: 20px 16px;
  margin-left: -100%;
}

.adContnr .sidebar.active {
  margin-left: 0;
}

.adContnr .sidebar .hder {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.adContnr .sidebar .hder i {
  color: #898888;
  font-size: 25px;
  cursor: pointer;
}

.adContnr .sidebar section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 40px;
}

.adContnr .sidebar section img {
  border-radius: 50%;
}

.adContnr .sidebar section h2 {
  color: white;
  font-size: 14px;
}

.adContnr .sidebar section p {
  color: #898888;
  font-size: 14px;
}

.adContnr .sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.adContnr .sidebar ul a {
  text-decoration: none;
  color: #898888;
  display: flex;
  align-items: center;
  gap: 10px;

}

.adContnr .sidebar ul a.active {
  color: #3d57c9;
  font-weight: bold;
}

.adContnr .sidebar ul a:hover {
  opacity: .675;
}

.cntnrDash {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  transition: margin-left 0.3s ease;


}

/* To push content when sidebar opens (optional) */
.cntnrDash.shift {
  margin-left: clamp(200px, 15%, 320px); /* same as sidebar width */
}

/* Header section */

header {
  background-color: white;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  height: fit-content;
}

header section {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header section div {
  display: flex;
  gap: 16px;
  align-items: center;
}

header section div i {
  font-size: 20px;
  cursor: pointer;
  color: #898888;
}

header section div h1 {
  font-size: 23px;
  color: #0f268c;
}

/* Main Section */
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
}

main .wlcmTp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 0 16px;
}

main .wlcmTp h1 {
  font-size: 25px;
  line-height: 25px;
}

main .wlcmTp h1 span {
  font-weight: normal;
  font-size: 18px;
  color: #898888;
}

main .wlcmTp a {
  display: flex;
  gap: 10px;
  padding: 8px 16px;
  color: white;
  background-color: #0f268ca9;
  border-radius: 4px;
  text-decoration: none;
  align-items: center;
  width: fit-content;
}

main .crdsCntr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 16px;
  height: 100%;
  height: fit-content;
  padding: 0 16px;
}

main .crdsCntr .card {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 16px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: fit-content;
  background: linear-gradient(135deg, #ffffff, #ffff00);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

main .crdsCntr .card:nth-child(2) {
  background: linear-gradient(135deg, #ffffff, #ff3b3b);
}

main .crdsCntr .card:nth-child(3) {
  background: linear-gradient(135deg, #ffffff, #5ca7f1);
}

main .crdsCntr .card:nth-child(4) {
  background: linear-gradient(135deg, #ffffff, #000000);
}
main .crdsCntr .card:nth-child(5) {
  background: linear-gradient(135deg, #ffffff, #00ff2a);
}

main .crdsCntr .card:hover {
  transform: translateY(-8px);
}

main .crdsCntr .card p:first-child {
  font-size: 16px;
  color: #898888;
}

main .crdsCntr .card p:first-child span {
  color: #0f0f0f;
  font-weight: bold;
}

main .crdsCntr .card h1 {
  font-size: 35px;
}

main .crdsCntr .card i {
  font-size: 40px;
}

main .crdsCntr .card p:last-child {
  color: #008000;
  font-size: 14px;
}

main .chart-container {
  width: clamp(70vw, 100%, 1267px);
  width: 100%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  max-width: 1267px;
  padding: 0 16px;
}

main .chart-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 18px;
}

@media (max-width: 445px) {
  main .wlcmTp {
    flex-direction: column;
  }
}

/* Footer section */

footer {
  background-color: #0f0f0f;
  padding: 8px 16px;
  display: flex;
}

footer .container div {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px 0;
}

footer .container div a {
  color: #898888;
  text-decoration: none;
}

footer .container div a:hover {
  color: #ff000073;
}

footer p {
  color: white;
  padding-top: 10px;
  border-top: 1px solid rgb(255, 255, 0);
  color: rgba(255, 255, 255, 0.438);
  border-top: 1px solid; /* Width of the border */
  border-image: linear-gradient(
    to right,
    rgba(255, 255, 0, 0),   /* top faded */
    rgba(255, 255, 0, 1),   /* middle solid */
    rgba(255, 255, 0, 0)    /* bottom faded */
  ) 1;
}

footer p a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.596);
}

/* Table Section */
.tcontnr {
  padding: 0 16px;
  min-height: 70vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.tcontnr table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  overflow-x: auto;
}

.tcontnr table thead {
  background-color: #000000;
  color: white;
}

.tcontnr table thead th, .tcontnr table tbody tr td {
  padding: 4px;
  text-align: left;

}

.tcontnr table thead th:first-of-type {
  border-top-left-radius: 12px;

}

.tcontnr table thead th:last-of-type {
  border-top-right-radius: 12px;
}

.tcontnr table tbody tr td:not(:first-of-type) {
  min-width: 120px;
}

.tcontnr table tbody tr td
.dfTd {
  display: flex;
  gap:5px;
  align-items: center;
  width: fit-content;
}

.tcontnr table tbody tr td p.dfTd {
  min-width: fit-content;
}

.tcontnr table tbody tr td
.dfTd p, .tcontnr table tbody tr td
.dfTd a {
  font-size: 14px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #ff3b3bd7;
  color: white;
  display: flex;
  gap:5px;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tcontnr table tbody tr td
.dfTd a {
  text-decoration: none;
  background-color: #0f268c;
}

.tcontnr table tbody tr td
.dfTd a.update {
  background-color: #065777;
}

.tcontnr table tbody tr td
.dfTd p.verify, .tcontnr table tbody tr td
.dfTd p.disprove {
  background-color: #008000c5;
  width: 92.84px;
  justify-content: center;
}

.tcontnr table tbody tr td
.dfTd p.disprove {
  background-color: #ff5e00ec;
}

.tcontnr table tbody tr td
.dfTd p:last-of-type {
  border-radius: 2px;
  color: #0f0f0f;
  background-color: #8b8d1dc9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tcontnr table tbody tr td
.dfTd p.dfTdSAp, .tcontnr table tbody tr td
.dfTd p.dfTdSInp {
  padding: 4px 8px;
  background-color: #0080009f;
  border-radius: 0;
}

.tcontnr table tbody tr td
.dfTd p.dfTdSInp {
  background-color: #ff3b3bd8;
}

.tcontnr table tbody tr td .vrfdTd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tcontnr table tbody tr td .vrfdTd p.vrfd, .tcontnr table tbody tr td .vrfdTd p.not-vrfd {
  background-color: #0080009f;
  width: fit-content;
  padding: 2px 8px;
  color: white;

}

.tcontnr table tbody tr td .vrfdTd p.not-vrfd {
  background-color: #805e0086;
}

.tcontnr table tbody tr td
.dfTd a:hover, table tbody tr td p:hover {
  opacity: .875;
}

table tbody tr:nth-child(odd) {
  background-color: #dedede;
}