
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins , Arial;
}

.containerFp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin: 8vh auto;
  padding: 8px 16px;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.87);
  min-height: 80vh;
}

.containerFp h1 {
  font-weight: bold;
  font-size: 25px;
}

.containerFp a {
  text-decoration: none;
  color: white;
  background-color: #008000;
  padding: 3px;
  width: fit-content;
}

body .overlay {
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f3d;
  position: fixed;
  display: none;
}

#popUp {
  background-color: white;
  border-radius: 12;
  padding: 10px;
  margin: 0 auto;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(30px, 25%, 25%);
  display: none;
  z-index: 10;
  width: fit-content;
}

#popUp h4 {
  color: #0f0f0f;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

#popUp .response {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#popUp .response p {
  background-color: #0f0f0f;
  padding: 6px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

#popUp .response p:hover {
  opacity: .75;
}

#popUp .response p.noResponce {
  background: white;
  color: #0f0f0f;
  border: 1px solid #898888;
}

#popUp .response p.noResponce:hover {
  background-color: #dedede;
}

.tableContainer {
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  overflow-x: auto;
}  

table thead {
  background-color: #0f0f0f;
  color: white;
}

table thead th {
  text-align: left;
  padding: 5px;
}

table tbody tr th:last-of-type {
  text-align: center;
}

table tbody tr {
  color: #0f0f0f;
}

table tbody tr td {
  padding: 5px;
}

table tbody tr td:not(:first-of-type) {
  min-width: 120px;
}

table tbody tr td:nth-child(4) {
  min-width: 200px;
}

table tbody tr td:nth-child(4) {
  display: flex;
  gap: 5px;
}

table tbody tr:nth-child(odd) {
  background-color: #dedede;
}

table tbody tr td p {
  background-color: #008000;
  font-size: 14px;
  color: white;
  width: fit-content;
  padding: 3px 10px;
  cursor: pointer;
}

table tbody tr td p:hover {
  opacity: .875;
}

table tbody tr td p.copy {
  background-color: #898888;
}

table tbody tr td p.update {
  background-color: #0f0f0f;
}

table tbody tr td i {
  font-size: 14px;
  color: #008000;
  font-weight: bold;
}

table tbody tr td i.fa-x {
  color: red;
}

table tbody tr td i.fa-minus {
  color: #898888;
}

h1 {
  font-weight: bold;
  font-size: 25px;
}

/* Add servant */

.container.newServant {
  align-items: center;
}

p.newServant {
  font-size: 16px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: clamp(300px, 50%, 50%);
  margin: 0 auto;
}

form p.errorMessage {
  color: red;
  font-size: 14px;
}

form p.successMessage {
  color: #008000;
  font-size: 14px;
}

form p.successMessage span:first-of-type {
  color: #0f0f0f;
}

form p.successMessage span:last-of-type {
  color: #898888;
}

form span {
  font-size: bold;
  font-size: 14px;
}

form input, form select {
  outline: none;
  padding: 2px;
}

form select {
  font-size: 14px;
}

form button {
  background-color: #0f0f0f;
  color: white;
  padding: 6px;
  border: none;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}

form button:hover {
  opacity: .875;
}